<ion-header>
  <ion-navbar>
    <ion-title>Groups</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to MeetUp!</h2>
    <ion-list>  
      <ion-item *ngFor="let item of favouriteCategories">
        <button ion-button (click)="submitForm(item.category.id)" > {{item?.category.name}}</button>
      </ion-item>
      <button *ngIf="favouriteCategories != ''"ion-button round (click)="clearStorage()">Delete all Categories</button>
    </ion-list>
  <ion-card *ngFor="let group of groups">
   <img *ngIf="group.key_photo?.thumb_link != undefined" src="{{group.key_photo?.thumb_link}}"/>
     <ion-card-content>
       <ion-card-title>
         {{group.name}} - {{group.localized_location}}
         </ion-card-title>
         {{group.description}}
         <div *ngIf="group.meta_category.name != null || group.meta_category.name != undefined">
           <h1>Group Category</h1> <button ion-button (click)="refineSearch(group.meta_category.category_ids)">{{group.meta_category.name}}</button>
         </div>
     </ion-card-content>
   </ion-card>
</ion-content>
