<ion-header>
  <ion-navbar>
    <ion-title>Groups</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to MeetUp!</h2>
    <ion-list>  
        <form [formGroup]="meetupForm" (ngSubmit)="submitForm()">
      <ion-item *ngFor="let item of favouriteCategories">
        <ion-label>{{item?.category.name}}</ion-label>
        <ion-checkbox (ionChange)="checkboxChange(item.category,$event)"></ion-checkbox>
      </ion-item>
      <button ion-button round >Submit</button>
    </form>
      <button ion-button round [disabled]="!favouriteCategories" (click)="clearStorage()">Delete all Categories</button>
    </ion-list>
  <ion-card *ngFor="let group of groups">
   <!-- <img src="{{group.group_photo.photo_link}}"/> -->
     <ion-card-content>
       <ion-card-title>
         {{group.name}} - {{group.localized_location}}
         </ion-card-title>
         {{group.description}}
         {{group.meta_category.name}}
     </ion-card-content>
   </ion-card>
</ion-content>
