<ion-header>
  <ion-navbar>
    <ion-title>Groups</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to MeetUp!</h2>
  <ion-card *ngIf="favouriteCategories == ''">
      <ion-card-header class="my-teams-header">No Groups Available</ion-card-header>
      <ion-card-content>

        <p> You need to select a category, in order to search for groups</p>
         
          <button ion-button icon-left full (click)="goToSettingsPage()">
              <ion-icon name="settings"></ion-icon>
            Settings Page
          </button>
      </ion-card-content>
    </ion-card>
    <ion-list>  
      <ion-item *ngFor="let item of favouriteCategories">
        <button ion-button clear (click)="searchGroups(item.category.id)" > {{item?.category.name}}</button>
      </ion-item>
      <button *ngIf="favouriteCategories != ''" ion-button block (click)="clearStorage()">Delete Category</button>
    </ion-list>
  <ion-card *ngFor="let group of groups">
   <img *ngIf="group.key_photo?.thumb_link != undefined" src="{{group.key_photo?.thumb_link}}"/>
     <ion-card-content>
       <ion-card-title>
         {{group.name}} - {{group.localized_location}}
         </ion-card-title>
         {{group.description}}
         <div *ngIf="group.meta_category.name != null || group.meta_category.name != undefined">
           <h1>Group Category</h1> <button ion-button (click)="refineSearch(group.meta_category.category_ids)">{{group.meta_category.name}}</button>
         </div>
     </ion-card-content>
   </ion-card>
</ion-content>
